// Variables

$black: #333
$pale: #d2e1dd
$pink: #c69
$blue: #036

$font-stack-mono: Monaco, monospace
$font-stack-serif: Georgia, Times, serif
$font-stack-sans: Helvetica, Arial, sans-serif

$base-size: 14px
