.box
    height: 100px
    width: 100px
    background: #036
    display: inline-block
    +box(100%, $black, $pink, green)

#box2
    +box(20%, $pink, teal, yellow)

#box3
    +box(5%, $pale, $pink, yellow)

#box4
    +box(0%, #ddd, teal, $black)
